<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${Jdk64}\bin\javap.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-version -classpath ${project_classpath} -public -s com.skagit.sarops.util.patternUtils.SimLibPattern com.skagit.util.navigation.NavigationCalculator com.skagit.sarops.util.wangsness.Wangsness com.skagit.util.PrintArgs"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/sws/target/classes}"/>
</launchConfiguration>
